body{
    background-color: #D5F5E3;
    font-family: verdana, sans-serif;
}

/* Container styles */
.display-box{
    border-color: #CACFD2;
    border-style: dashed;
    border-width: 3px;
    height: 300px;
    margin-bottom: 6px;
    position: relative;
    width: 300px;
    text-align: center;
}

/* Image Styles */
.cloud{
    position: absolute;
    width: 20%;
}

/* Text Styles */
h1{
    color: #66BFBF;
    font-family: 'Sacramento', serif;
    font-size: 2.5rem;
    margin: 0;
}
h2{
    color: #66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}
